@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(97%) saturate(277%) hue-rotate(280deg) brightness(113%)
        contrast(100%);
    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
    @include abstracts.screen(md) {
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(30%) saturate(348%) hue-rotate(185deg)
        brightness(90%) contrast(95%);
    --menu-column-icon-color: brightness(0) saturate(100%) invert(98%) sepia(27%) saturate(2050%) hue-rotate(210deg)
        brightness(119%) contrast(96%);
    // Top Menu
    --top-menu-border-color: #171c28;
    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);
    // Category Item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;
    --cate-item-desc-color: #fff;

    // Buttons
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;

    --like-btn-bg: #292e39;

    // Product
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // Filter Form
    --filter-form-bg: var(--dropdown-bg-color);
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --form-tag-bg: #171c28;

    --filter-form-arrow: var(--dropdown-arrow-color);

    // Auth
    --auth-content-bg: #292e39;
    --auth-intro-bg: #171c28;
    --auth-intro-text-color: #b9babe;
    --auth-heading-color: #b9babe;
    @include abstracts.screen(md) {
    }

    // Product Detail
    --product-detail-bg: #292e39;
    --product-detail-info-bg: #171c28;
    --product-detail-info-content-bg: transparent;
    --product-detail-tag-bg: #292e39;

    @include abstracts.screen(md) {
        --product-detail-bg: #292e39;
        --product-detail-info-bg: transparent;
        --product-detail-info-content-bg: #171c28;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #171c28;
    }

    // Search Bar
    --search-bar-bg: #171c28;

    // Footer
    --footer-text-color: #fff;
    --footer-bg-color: #171c28;
    --copyright-color: #6c6c72;
}
