<div class="container">
    <div class="row row-cols-4 row-cols-lg-2 row-cols-sm-1 g-3">
        <div class="footer__group">
            <a class="footer__heading" href="#!">FIND A STORE</a>
            <a class="footer__link" href="#!">BECOME A MEMBER</a>
            <a class="footer__link" href="#!">Send Us Feedback</a>
        </div>
        <div class="footer__group">
            <a class="footer__heading" href="#!">GET HELP</a>
            <a class="footer__link" href="#!">Order Status</a>
            <a class="footer__link" href="#!">Delivery</a>
            <a class="footer__link" href="#!">Returns</a>
            <a class="footer__link" href="#!">Payment Options</a>
            <a class="footer__link" href="#!">Contact Us</a>
        </div>
        <div class="footer__group">
            <a class="footer__heading" href="#!">ABOUT</a>
            <a class="footer__link" href="#!">News</a>
            <a class="footer__link" href="#!">Careers</a>
            <a class="footer__link" href="#!">Investors</a>
            <a class="footer__link" href="#!">Sustainability</a>
        </div>
        <div class="footer__socials">
            <a href="https://www.facebook.com/macthieuminh">
                <img src="../assets/icons/Socials/facebook.svg" alt="Social Icon" class="icon social-link" />
            </a>
            <a href="https://www.instagram.com/thieuminh_/">
                <img src="../assets/icons/Socials/instagram.svg" alt="Social Icon" class="icon social-link" />
            </a>
            <a href="https://www.tiktok.com/@thieuminhneee/">
                <img src="../assets/icons/Socials/tiktok.svg" alt="Social Icon" class="icon social-link" />
            </a>
        </div>
    </div>
    <div class="row copyright-wrapper">
        <div class="footer__copyright">
            <span>From @thieuminh with luv ❤️</span>
        </div>
    </div>
</div>
